<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/home.css">
        <script src="javascripts/users.js"></script>
</head>

<body class="container">

    <header>
        <%- include('layout/header.ejs')%>
    </header>

    <main>
        <%- include('layout/sidenav.ejs')%>
            <div class="container">
                <div class="row">
                    <% products.forEach(function(data, index) { %>
                        <div class="col-md-4 mt-2">

                            <div class="card">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-row align-items-center time">
                                        <span> </span>
                                    </div>
                                </div>

                                <div class="text-center" style="padding-top: 10px;">
                                    <img src="<%= data.productImage %>" width="250" height="250">
                                </div>
                                <div class="text-center">
                                    <h5>
                                        <%= data.productTitle %>
                                    </h5> <span class="text-success">
                                        <%= data.productPrice %><span style="font-size: 9px;">(INR)</span>
                                            <span style="font-size: 10px;font-weight: 700;">
                                                <%= data.productVisibility %> Level Visibility
                                            </span>
                                    </span>
                                </div>
                                <button type="button" class="btn btn-sm mr-1 my-1"
                                    style="background-color: #648E06;color:ivory">Contact Seller
                                </button>
                                <span style="font-size: 12px;"><strong>MOQ: <%= data.productMOQ %></strong>
                                        <a href="#" style="color: darkgreen;font-size: 10px;float: right;">More Details</a>

                                </span>

                            </div>

                        </div>
                        <% }) %>

                </div>

            </div>
            <br />
            <br />
            <br />
    </main>

    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>