<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/home.css">
        <script src="javascripts/users.js"></script>
        <script src="javascripts/products.js"></script>

        <style>
            a {
                font-size: 15px;
                font-family: sans-serif;
            }

            .card {
                color: ivory;
                background-color: #609931;
            }

            ::-webkit-input-placeholder {
                font-size: 10px;
            }

            label {
                font-size: 10px;
                font-family: 'Open Sans', sans-serif;
            }
        </style>
</head>

<body class="container">
    <header>
        <%- include('layout/header.ejs')%>
    </header>
    <main>
        <%- include('layout/sidenav.ejs')%>

            <div class="container-fluid">

                <div class="div">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">New Products</h5>
                                    <a href="#" style="color: ivory;" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Add Products</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">See All Products(60)</h5>
                                    <a href="#" style="color: ivory;">Show Products</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">To Do</h5>
                                    <a href="#" style="color: ivory;">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">To Do</h5>
                                    <a href="#" style="color: ivory;">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Dynamic from start here-->

                    <div class="row">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Products Details
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            id="modalCloseButton" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="addProductForm" method="POST" action="/addNewProduct"
                                            enctype="multipart/form-data">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Add Image
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <input type="file" class="form-control" placeholder="upload Image"
                                                        name="productImage" id="productImage" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Product Title
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Product Name or Title" name="productTitle"
                                                        id="productTitle" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Price
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" placeholder="Product Price"
                                                        name="productPrice" id="productPrice" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>MOQ
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Minimum Order Quantity" name="productMOQ"
                                                        id="productMOQ" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Product Description
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <textarea type="text" class="form-control" name="productDescription"
                                                        id="productDescription" required></textarea>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Product Visibility
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <select class="form-select" aria-label="Default select example"
                                                        name="productVisibility" id="productVisibility"
                                                        style="font-size: 12px;" required>
                                                        <option selected>Select</option>
                                                        <option value="District">District</option>
                                                        <option value="State">State(Plus Customer)</option>
                                                        <option value="Across Country">Across Country(Premium Customer)
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Transportation
                                                        <span style="color: red">*</span>
                                                    </label>
                                                    <select class="form-select" aria-label="Default select example"
                                                        style="font-size: 12px;" name="productTransportation"
                                                        id="productTransportation" required>
                                                        <option selected>Select</option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                        <option value="May be">May be</option>
                                                    </select>
                                                </div>


                                            </div>

                                            <form>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success btn-sm">Save</button>

                                                    <button type="button" class="btn btn-danger btn-sm"
                                                        id="addProductFormResetButton">Reset</button>
                                                </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Dynamic from end here-->
                </div>
            </div>

            </div>

            <div class="">
                <div class="table-responsive">

                    <!--Table-->
                    <table class="table" id="productShowingTable">

                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="th-lg">Product Image</th>
                                <th class="th-lg">Product Visibility</th>
                                <th class="th-lg">Product Price</th>
                                <th class="th-lg">Action</th>
                                <th class="th-lg" style="display: none;"></th>
                            </tr>
                        </thead>
                        <% products.forEach(function(data, index){ %>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <%= index + 1 %>
                                    </th>
                                    <td style="width: 20%;">
                                        <div class="">
                                            <img src="<%= data.productImage %>" width="100" height="100" />

                                        </div>
                                        <strong>
                                            <%=data.productTitle%>
                                        </strong>
                                    </td>

                                    <td>
                                        <%=data.productVisibility %>
                                    </td>
                                    <td>
                                        <%=data.productPrice %>
                                    </td>
                                    <td>
                                        <span>
                                            <a type="button" id="productEditButton"><i class="bi bi-pencil-square"
                                                    style="color:indigo;font-size: 25px;"></i>
                                            </a>
                                            <br />
                                            <a type="button" id="productDeleteButton"><i class="bi bi-trash-fill"
                                                    style="color: red;font-size: 25px;"></i></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <td style="display: none;">
                                    <input type="hidden" value="<%=data._id %>" id="pIdHidden" />
                                </td>


                            </tbody>


                            <% }) %>
                    </table>


                </div>

            </div>
    </main>



    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>