<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head.ejs')%>
        <link rel="stylesheet" href="stylesheets/home.css">
        <script src="javascripts/users.js"></script>

        <style>
            a {
                font-size: 15px;
                font-family: sans-serif;
            }

            .card {
                color: ivory;
                background-color: #609931;
            }
        </style>
</head>

<body class="container">
    <header>
        <%- include('layout/header.ejs')%>
    </header>
    <main>
        <%- include('layout/sidenav.ejs')%>

            <div class="container-fluid">

                <div class="div">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">New Products</h5>
                                    <a href="#" style="color: ivory;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Products</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">See All Products(60)</h5>
                                    <a href="#" style="color: ivory;">Show Products</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">To Do</h5>
                                    <a href="#" style="color: ivory;">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card shadow m-2">
                                <div class="card-body">
                                    <h5 class="card-title">To Do</h5>
                                    <a href="#" style="color: ivory;">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Dynamic from start here-->

                    <div class="row">

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Dynamic from end here-->
                </div>
            </div>

            </div>

            <div>
                <div class="table-responsive">

                    <!--Table-->
                    <table class="table">

                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="th-lg">Product Image</th>
                                <th class="th-lg">Product Name</th>
                                <th class="th-lg">Action</th>
                            </tr>
                        </thead>

                        <% for (var i=1; i <=10; i++ ) { %>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <%= i%>
                                    </th>
                                    <td>
                                        <div class=""> <img src="/images/p1.jpg" width="100" height="100"> </div>
                                    </td>
                                    <td>Fresh Wheat</td>
                                    <td>
                                        <span>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">View Details</a>
                                        </span>
                                    </td>
                                </tr>


                            </tbody>


                            <% } %>
                    </table>


                </div>

            </div>
    </main>



    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>

</body>

</html>